<div class="details">
	<div class="stats">
		<div class="stat-card">
			<span>{{ '_Functional_' | translate }}</span>
			<span>{{ stats.functional }}</span>
		</div>
		<div class="stat-card">
			<span>{{ '_Major_Error_' | translate }}</span>
			<span>{{ stats.major }}</span>
		</div>
		<div class="stat-card">
			<span>{{ '_Minor_Error_' | translate }}</span>
			<span>{{ stats.minor }}</span>
		</div>
		<div class="stat-card">
			<span>{{ '_Offline_' | translate }}</span>
			<span>{{ stats.offline }}</span>
		</div>
	</div>
	<app-dashboard-details-status></app-dashboard-details-status>
</div>
